.ratingWrap {
  padding: 0px 0 110px;
  .container {
    max-width: 1100px;
  }

  .userRating {
    display: flex;
    justify-content: center;
    .userRatingInner {
      display: flex;

      .userRatingItem {
        padding-right: 30px;
        position: relative;
        margin-right: 30px;
        &:last-child {
          padding-right: 0;
          margin-right: 0;
          &:before {
            display: none;
          }
        }

        &:after {
          background: $brand;
        }

        &:before {
          position: absolute;
          content: '';
          top: 10px;
          right: 0;
          width: 1px;
          height: 54px;
          background: $brand;
        }

        &:after {
          position: absolute;
          content: '';
          top: 0px;
          left: -10px;
          width: 53px;
          height: 53px;
          border-radius: 50%;
          opacity: 0.1;
          background: $brand_2;
        }

        .ratingInfo {
          h2 {
            font-size: 60px;
            line-height: 72px;
            color: #000B33;
            font-family: $quicksand;
          }

          p {
            color: #000B33;
            font-family: $nunito;
            font-size: 16px;
          }
        }
      }
    }
  }


  .totalRatingCount {
    padding-left: 100px;
    .totalRatingInner {
      max-width: 555px;
      width: 100%;
      h3 {
        font-size: $f48;
        line-height: 58px;
        font-family: $quicksand;
        color: #000B33;

        span {
          color: $brand;
        }
      }
    }
  }
}